.galery {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    overflow-x: auto;
    padding: 1.5rem 2rem;
    gap: 1.5rem;

    & img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
}

@media (width <= 60rem) {
    .galery {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }
    
}